.App {
  /* text-align: center; */
  /* margin: 10% */
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 8%
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}